<footer class="cajaFooter">
    <div class="cajaNombre">
        <div class="cajaT titulo1">Erik</div>
        <div class="cajaT titulo2">Alejandro</div>
    </div>
    <div class="iconosFooter">
        <div class="cajaIconF">
            <img class="iconFooter" src="" alt="Linkedin img">
        </div>
        <div class="cajaIconF">
            <img class="iconFooter" src="images/github.svg" alt="GitHub img">
        </div>
        <div class="cajaIconF">
            <img class="iconFooter" src="" alt="Gmail img">
        </div>
    </div>

</footer>