.tecCaja {

    width: 120px;
    height: 110px;
    margin: auto;
    color: var(--color-texto);
    background-color:var(--color-acento);
    
    border-radius: 13px;
    border: solid 2px var(--color-primario);
  
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .tecCaja:hover{
    background-color: var(--color-primario);
    color: black;
    transform: scale(1.02);
    font-size: 1.0em;
    z-index: -1;
  }

  .tecTxt{
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .tecCaja .icon {
    width: 6vw;
    height: 7vh;
  }