.cajaP {
    margin-top: 2.5vh;
    border: 1.5px solid var(--color-primario);
    padding: 20px;
    border-radius: 5px;
}

.cajaP:hover {
    animation: opacidad 5.4s infinite;
}

.etiquetas {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    column-gap: 7%;
}

.etiqueta {
    border: 1px solid var(--color-texto);
    border-radius: 13px;
    background-color: var(--color-acento);
    color: white;
    padding: 10px;
}

@keyframes opacidad {
    20% {
        box-shadow: 0 0 20px 5px var(--color-primario);
    }

    50% {
        box-shadow: 0 0 10px 2px var(--color-primario);
    }

    85% {
        box-shadow: 0 0 20px 5px var(--color-primario);
    }
    100%{
        box-shadow: 0 0 0 0 var(--color-primario);
    }
}