<div class="cajaP">
  <h3>Proyecto CocinaApp</h3>
  <p>
    Aplicacion que se caracteriza en recomendar, consultar o ver platos
    de cocina.
  </p>
  <!-- HACER TABLA SIN CABECERA PARA QUE ESTEN LAS TECNOLOGIAS Y TENGAN LAS LINEAS VERTICALES DE LAS CAJAS EL ASPECTO DE -> /GITHUB/ETC -->
    <!-- <div class="etiqueta">Angular 17</div>
    <div class="etiqueta">SpringBoot</div>
    <div class="etiqueta">MySQL</div> -->
    <table class="tablaEtiquetas">
      <tr>
        <td class="etiqueta">Angular 17</td>
        <td>SpringBoot</td>
        <td>MySQL</td>
      </tr>
    </table>
  <img class="imagenP" src="" alt="Imagen del proyecto" />
</div>