<body>

  <main>
    <section id="idPresentacion" class="cajaPresentacion">
      <aside class="aImgPerfil">
        <img src="http://github.com/ealejand1.png" alt="Foto Perfil Github" class="imagenPerfil" />
      </aside>
      <div class="mainParrafo">
        <p class="textoMain">
          Programador FullStack Junior. Persona atenta
          y con mucha curiosidad de seguir aprendiendo cada dia y aportando
          soluciones.<br>
        </p>
        <div class="cajaBotonesM">
          <button class="botonesMain" (click)="botonClick()">Github</button>
          <button class="botonesMain" (click)="botonClick2()">Linkedin</button>
          <!-- <button class="botonesMain">CV</button> -->
        </div>
      </div>
    </section>

    <section id='idProyectos' class='proyectos'>
      <h2 class="titProyectos">Proyectos</h2>
      <section class="cajas">
        <app-proyecto class="caja" />
      </section>
    </section>

    <span id="idTecnologias"></span>
    <section class="tecnologias">
      <h2 class="titTecnologias">Tecnologias</h2>
      <app-tecnologia *ngFor="let tec of tecnologias" [tecnologia]="tec" />
    </section>
  </main>
</body>