.cajaPresentacion {
  margin-top:30px ;
  margin-right: auto;
  margin-left: auto;
  width: 72.5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;

}

.cajaBotonesM{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
}

.botonesMain {
  width: 11vw;
  text-align: center;

  border: 1.3px solid var(--color-borde);
  border-radius: 20px;
  padding: 18px 36px;
  background-color: var(--color-secundario);

  color: white;
  font-size: 1.3vw;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-primario);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.2s;
}
.botonesMain:hover {
  box-shadow: inset 0 0 0 50px var(--color-primario);
  color: var(--color-fondo);
  transform: scale(1.05);
}


.aImgPerfil {
  text-align: center;
  padding: 1.4vh;
}
.imagenPerfil {
  width: 26vw;
  border-radius: 50vh;
}

.textoMain{
  padding-left: 23px;
  padding-right: 23px;
  text-align: justify;
  font-size: 1.5vw;
}
.mainParrafo {
  width: 50vw;
}

.proyectos {
  width: 72.5vw;
  margin: auto;
  margin-bottom: 10vh;
  margin-top: 10vh;

}

.proyectos .cajas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

.caja{
  width: 48%;
}


.tecnologias {
  width: 72.5vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 90px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
}

.titTecnologias {
  /* row-start/column-start / row-final/column-final */
  color: var(--color-primario);
  grid-area: 1/1 /2/6;
  text-align: center;
}
.titProyectos{
  color: var(--color-primario);
  text-align: center;
}
