<body>

  <main>
    <section class="cajaPresentacion">
      <aside class="aImgPerfil">
        <img src="http://github.com/ealejand1.png" alt="Foto Perfil Github" class="imagenPerfil" />
      </aside>
      <div class="mainParrafo">
        <p>
          Programador FullStack Junior. Persona atenta
          y con mucha curiosidad de seguir aprendiendo cada dia y aportando
          soluciones.<br>
        </p>
        <div class="cajaBotonesM">
          <button class="botonesMain">Github</button>
          <button class="botonesMain">CV</button>
          <button class="botonesMain">Linkedin</button>
        </div>
      </div>
    </section>

    <section class='proyectos'>
      <h2 class="titProyectos">Proyectos</h2>
      <section class="cajas">
        <app-proyecto class="caja"/>
        <app-proyecto class="caja" />
        <app-proyecto class="caja"/>
      </section>
    </section>

  <!-- realizar componentes de tecnologias para agrupar mejor esto -->
    <section class="tecnologias">
      <h2 class="titulo">Tecnologias</h2>
      <div class="tecCaja">
        Javascript
        <img class="icon" src="images/js.svg" alt="javascript image" />
      </div>

      <div class="tecCaja">
        Typescript
        <img class="icon" src="images/ts.svg" alt="" />
      </div>

      <div class="tecCaja">
        Angular
        <img class="icon" src="images/angular.svg" alt="" />
      </div>

      <div class="tecCaja">
        Vue
        <img class="icon" src="images/vue.svg" alt="" />
      </div>

      <div class="tecCaja">
        Java
        <img class="icon" src="images/java.svg" alt="" />
      </div>

      <div class="tecCaja">
        SpringBoot
        <img class="icon" src="images/sts.svg" alt="" />
      </div>

      <div class="tecCaja">
        MySQL
        <img class="icon" src="images/mysql.svg" alt="" />
      </div>

      <div class="tecCaja">
        PHP
        <img class="icon" src="images/php.svg" alt="" />
      </div>

      <div class="tecCaja">
        Bash
        <img class="icon" src="images/bash.svg" alt="" />
      </div>

      <div class="tecCaja">
        Git
        <img class="icon" src="images/github.svg" alt="" />
      </div>
    </section>
  </main>
</body>