/* body{
  display: flex;
  justify-content: space-around;
} */
.cajaPresentacion {
  margin-top:30px ;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cajaBotonesM{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
}

.botonesMain {
  width: 11vw;
  text-align: center;

  border: 1.3px solid var(--color-texto );
  border-radius: 20px;
  padding: 18px 36px;
  background-color: var(--color-secundario);

  color: white;
  font-size: 1.3vw;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-primario);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.2s;
}
.botonesMain:hover {
  box-shadow: inset 0 0 0 50px var(--color-primario);
  color: var(--color-fondo);
  transform: scale(1.05);
}


.aImgPerfil {
  text-align: center;
  padding: 1.4vh;
}
.imagenPerfil {
  width: 28vw;
  border-radius: 50vh;
}

.textoMain{
  padding-left: 23px;
  padding-right: 23px;
  text-align: justify;
  font-size: 1.9vw;
}
.mainParrafo {
  width: 50vw;
}

.proyectos {
  width: 72.5vw;
  margin: auto;
  margin-bottom: 10vh;
  margin-top: 10vh;

}

.proyectos .cajas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

.caja{
  width: 48%;
}


.tecnologias {
  width: 72.5vw;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 30px;
}

.titTecnologias {
  /* row-start/column-start / row-final/column-final */
  color: var(--color-primario);
  grid-area: 1/1 /2/5;
  text-align: center;
}
.titProyectos{
  color: var(--color-primario);
  text-align: center;
}
