header {
    background-color: var(--color-acento);
    position: sticky;
    top: -1px;
    height: 90px;
    border-bottom: 2px solid var(--color-texto);
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding-left: 3.5%;
    padding-right: 3.5%;
    z-index: 1;
}

.titleCabecera {
    text-align: justify;
    size: 1vw;
}

/* BUSCAR UNA FUENTE GUAY Y CAMBIAR COLORES */
a {
    margin-left: 10px;
    margin-right: 10px;
    size: 1.5vw;
}